@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1366px;
    margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
}

.container-form{
    width: 444px;
    padding-right: 60px;
    padding-left: 60px;
}

.site-body {
}
.site-header {
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 18px;
    padding-bottom: 18px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
}
.logo-link {
    color: #FFF;
font-family: Ubuntu;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 100% */
}
.logo-link:hover {
    text-decoration: none;
    color: #01813F;
}
.header-right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-icons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 27px;
    /* border-right: 1px solid rgba(255, 255, 255, 0.90) ; */
    padding-right: 25px;
}
.social-icons::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.50);
    width: 1px;
    height: 19px;
    position: absolute;
    right: 0;

}
.social-icons a:hover svg path {
    fill: #01813F;
}
/* .social-icons::after {
content: '';
background-color: (255, 255, 255, 0.90);
width: 1px;
height: 19px;
position: absolute;
right: 0;
} */
.icon-link {
}
.login-signup {
    padding-left: 27px;
    color: #FFF;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}
.login-signup a:hover {
    color: #01813F;
    text-decoration: none;
}

.login-signup a {
color: #FFF;
}
.login-link {
}
.signup-link {
}

.main{
     z-index: 0;
    position: relative;
    padding-top: 58px;
    background-image: url(../img/main-wrapper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.signup-section {
    padding-top: 30px;
    padding-bottom: 40px;

    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.signup-header {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signup-header::before {
    content: '';
    position: absolute;
    background: #3CB878;
    border: none;
    width: 18px;
    height: 18px;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
}
.signup-title {
    color: #434343;
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
}
.login-link{
    color: #3CB878;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}
.login-link:hover {
    text-decoration: underline;
    color: #01813F;
}
.social-signup {
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
}
.button-signup{
    min-width: 160px;
    min-height: 48px;
    border-radius: 4%;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.logo-button{
    padding-right: 10px;
}
.button-signup span {
    min-height: 28px;
    padding-left: 18px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}
.logo-button-google{
    width: max-content;
    height: 19px;
    object-fit: contain;
}
.logo-button-facebook{
    width: max-content;
    height: 24px;
}

.facebook-signup {
    background-color: #305DB8;
    transition: all 0.4s ease;
}
.facebook-signup:hover {
    background-color: #022263;
}

.google-signup {
    background-color: #DF4A32;
    transition: all 0.4s ease;
}
.google-signup:hover {
    background-color: #AB1F09;
}
.alternative-option {
position: relative;
margin-bottom: 12px;
display: flex;
justify-content: center;
align-items: center;
}
.alternative-option span {
   display: flex;
    align-items: center;
    justify-content: center;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.alternative-option::after {
    content: '';
    position: absolute;
    background: rgba(132, 132, 132, 0.1);
    border: none;
    width: 152px;
    height: 1px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.alternative-option::before {
    content: '';
    position: absolute;
    background: rgba(132, 132, 132, 0.1);
    width: 152px;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.signup-form {
}
.form-field {
}
.input-field {
    padding: 15px 19px;
    min-width: 324px;
    margin-bottom: 15px;
    border-radius: 4px;
border: 1px solid #F2F2F2;
}
.input-field::placeholder {
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.input-field:focus {
    outline: none;
    box-shadow:0px 3px 8px rgba(0, 0, 0, 0.21);
}
.terms-field {
    margin-bottom: 20px;
}
.terms-checkbox-input{
    /* position: absolute;
    opacity: 0; */
}
.terms-checkbox {
    position: relative;
    padding-left: 30px;
    color: #434343;
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}
/* .terms-checkbox:not(:checked)::before {
content: '';
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 20px;
height: 20px;
border: 1px solid #F2F2F2;
background: rgba(0, 0, 0, 0.00);
} */

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
    }

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.4s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
background-image: url('../img/check.svg');
width: 19px;
    height: 19px;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 2px;
    top: 2px;
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}

/* .terms-checkbox:checked::before {
content: '';
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 20px;
height: 20px;
border: 1px solid #3CB878;
background: #3CB878;
} */

.terms-link {
    color: #3CB878;
    transition: all 0.4s ease;
}
.terms-link:hover {
    text-decoration: underline;
    color: #01813F;
}
.submit-btn {
    color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
padding: 16px;
border-radius: 4px;
border: none;
background: rgba(60, 184, 120, 0.80);
min-width: 324px;
transition: all 0.4s ease;
cursor: pointer;
}
.submit-btn:hover {
    background: #01813F;
}